/* Define o estilo básico do body */


body {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    height: 100vh;            /* Faz a altura da página ocupar 100% da altura da tela */
    margin: 0;                /* Remove a margem padrão */
    background-color: #242424; /* Cor de fundo opcional */
}

.boxe {
    background-color: #333;  /* Cor de fundo da div */
    color: white;             /* Cor do texto */
    padding: 50px;            /* Espaçamento interno */
    border-radius: 10px;      /* Bordas arredondadas */
    text-align: center;       /* Centraliza o texto dentro da div */
    width: 300px;             /* Largura fixa da div */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra opcional para dar destaque */
}

input {
    margin: 10px 0;  /* Espaçamento entre os campos */
    width: 80%;       /* Largura dos campos */
    border-radius: 5px;
    border: 1px solid #525252;  /* Borda para os campos de entrada */
    background-color: #525252;
    color: white;
}



button {
    margin-top: 40px;
    background-color: #419744;  /* Cor de fundo do botão */
    color: white;               /* Cor do texto no botão */
    padding: 12px 120px;         /* Tamanho do botão */
    border: none;
    border-radius: 5px;         /* Bordas arredondadas */
    cursor: pointer;            /* Cursor de mão quando passar por cima */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-radius: 10px;
}

button:hover {
    background-color: #45a049;  /* Cor do botão quando o mouse passa por cima */
}


.texto1 {
    margin-left: -185px;
    margin-bottom: -5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.texto2 {
    margin-left: -145px;
    margin-bottom: -5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    position: relative;
    display: inline-block; /* Isso faz com que o h1 se ajuste ao conteúdo */
}

h1::after {
    content: ""; /* Adiciona o pseudo-elemento */
    position: absolute;
    bottom: 0; /* Coloca o traço na parte inferior */
    left: 0;
    width: 50%; /* O traço tem o mesmo comprimento do texto */
    height: 3px; /* Espessura do traço */
    background-color: #419744; /* Cor verde */
    margin-bottom: -4px;
    border-radius: 3px;
}

.imagem {
    width: 450px;
    padding: 70px 10px 40px;
}

.input-field {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #525252;
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
    margin-top: 10px;
}

.input-field span,
.input-field i {
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
}


.input-field input {
    border: none;
    width: 100%;
    font-size: 1.3rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input:focus {
    outline: none;
}

.more_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-top: 1px solid #5f5f5f;
}

.info {
    color: #419744;;
}

.resultado {
    align-items: center; /* Alinha os itens verticalmente */
    padding-top: 10px;
    border-top: 1px solid #5f5f5f;;
}

.imc-info {
    display: flex;
    flex-direction: column; /* Organiza os elementos um abaixo do outro */
    align-items: center; /* Centraliza o número e "Seu IMC" */
}

.numero {
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: #419744;
}

.seu_imc {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: white;
  
}

.peso_ideal {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: white;

}

.titulo h1 {
    color: #ffff;
    font-size: 25px;
}

.titulo {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 40px;
}

